header {
    background-color:antiquewhite;
    color: #fff;
    padding: 10px 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:center;
}

nav li {
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color:black;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:antiquewhite;
    color: black;
}